.form-wrapper{
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44%;
  height: fit-content;
  padding: 90px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: left;
  box-sizing: border-box;
}

.form-wrapper h1{
  margin-block-start: 0;
}

.sign-in{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sign-up{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.add-new-vid{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.video-loading{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

label{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.video-loading>div{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
}

.form-buttons{
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 20px;
}

form{
  display: flex;
  width: 100%;
  gap: 30px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

label>div{
  margin-top: 19px;
}

.x-icon{
  position: absolute;
  left: 91%;
  top: 5.6%;
  cursor: pointer;
}

.incorrect-password{
  background: #FADCDE;
  border-radius: 14px;
  display: none;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 30px;
}

.incorrect-password_visible{
  display: flex;
}

.vid-preview{
  display: flex;
  flex-direction: column;
  width: 378px;
  height: 178px;
  border-radius: 11px;
  overflow: hidden;
  }

.video-loading .button{
  margin-top: 28px;
}

