.user-card{
  display: flex;
  height: 325px;
  width: 220px;
  padding: 35px 35px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #E6E8FF;
  border-radius: 14px;
 }

.user-card h3{
  padding-top: -7px;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}

.user-card .user-card__stats{
  padding-bottom: 33px;
}

.user-card{
  display: flex;
  height: 325px;
  width: 220px;
  padding: 35px 35px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #E6E8FF;
  border-radius: 14px;
 }

.user-card h3{
  padding-top: -7px;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}

.user-card .user-card__stats{
  padding-bottom: 33px;
}

