
.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .home-heading{
    padding-top: 44px;
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-heading h1{
    padding-bottom: 20px;
  }
  
  .home-heading .button{
    margin-top: 50px;
  }

  .home-heading__desc {
    color: #5B5B5B;
  }
  
  .best-creators{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 40px;
  }
  
  .best-creators__heading{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
  
  .best-creators__users{
    display: flex;
    flex-direction: row;
    row-gap: 38px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (max-width: 624px){
  .best-creators__users {
    row-gap: 15px;
    }
  }
  
  .best-creators__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .sort-icon{
    display: flex;
    width: 30px;
    height: 30px;
  }