
.user{
    margin-top: 100px;
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .user-videos{
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .user-videos__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .videos-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }
  
  .videos-text img{
    width: 20px;
    height: 20px;
  }
  
  .videos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 28px;
    justify-content: flex-start;
  }

  @media screen and (max-width: 1200px) {
    .videos {
      justify-content: space-between;
      gap:0;
      row-gap: 28px;
    }
   }

   @media screen and (max-width: 658px) {
    .videos {
      justify-content: center;
    }
   }