body{
  box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/chillax');

h1 {
  font-family: "Chillax", sans-serif;
  font-size: 3.125em;
}

h1 span{
  color:#FF6363;
}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page-block{
  width: 100%;
  padding: 0 50px 85px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .page-block{
    padding: 15px;
  }
 }

.home-heading{
  padding-top: 44px;
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-heading .button{
  margin-top: 50px;
}

.best-creators{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.best-creators__text{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.best-creators__users{
  display: flex;
  flex-direction: row;
  row-gap: 38px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.best-creators__header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user{
  margin-top: 100px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-videos{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.user-videos__header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.videos-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.videos-text img{
  width: 20px;
  height: 20px;
}

.videos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: flex-start;
}

.sort-icon{
  display: flex;
  width: 30px;
  height: 30px;
}
