@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

body{
  font-family: "Plus Jakarta Sans";
  box-sizing: border-box;
}

.page-block{
  width: 100%;
  padding: 0 50px 85px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .page-block{
    padding: 15px;
  }
 }
