.video-thumbnail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 314px;
  height: fit-content;
  flex-wrap: wrap;
  line-height: 22.4px;
  width: fit-content;
}

.video-thumbnail-wrapper h3{
  padding-top: 10px;
  padding-bottom: 5px;
}

.preview {
  border-radius: 14px;
  display: flex;
  height: 178px;
  min-width: 314px;
  width: 100%;
  overflow: hidden;
  position: relative;
  }

.play-icon {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  height: 35px;
  width: 35px;
}

.preview img {
  height: 100%;
  width: 100%;
}

.react-player {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  z-index: 2;
  max-width: 90%;
  animation: fadeInAnimation ease 1s;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
  }

.closing-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 150vh;
  background-color: black;
  opacity: 50%;
  z-index: 1;
}

.thumbnail-wrapper h3 {
  margin-bottom: 0;
  margin-top: 5px;
}

@media screen and (max-width: 1200px) {
  .video-thumbnail-wrapper {
    flex-basis: 31%;
  }
 }

 @media screen and (max-width: 1000px) {
  .video-thumbnail-wrapper {
    flex-basis: 47%;
  }
 }

 @media screen and (max-width: 1200px) {
  .react-player {
    max-height: 50%;
    max-width: 80%;
  }
 }

 @media screen and (max-width: 1200px) {
  .react-player {
    max-height: 50%;
    max-width: 80%;
  }
 }
 
 @media screen and (max-width: 624px) {
  .video-thumbnail-wrapper {
    flex-basis: 99%;
  }
  .react-player {
    max-height: 40%;
    max-width: 99%;
  }
 }

 @media screen and (min-width: 1900px) {
  .video-thumbnail-wrapper {
    flex-basis: 17%;
  }
 }