.button{
  display: flex;
  background: #5B4DFF;
  border-radius: 44px;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 16px 56.5px;
  min-width: 11.528vw;
  cursor: pointer;
  pointer-events: auto;
  line-height: 140%;
  box-sizing: border-box;
  height: fit-content;
  height: 54px;
}

.button_secondary{
  background: none;
  border: 2px solid #5B4DFF;
  color: #5B4DFF;
}

.button_disabled{
  background: rgba(91, 77, 255, 0.6);
  pointer-events: none;
}

.button:hover{
  box-shadow: 0 4px 22px rgba(91, 77, 255, 0.2);
}

.button:active{
  box-shadow: inset 0 4px 22px rgba(5, 0, 61, 0.2);
}

@media screen and (min-width: 1440px) {
  .button {
    min-width: 166px;
  }
}

.button-scroll {
  position: fixed;
  padding: 16px 29px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  transition: opacity 1s;
  z-index: 3;
}

.button-scroll_invisible{
  opacity: 0;
  pointer-events: none;
}

.button-show-more{
  position: absolute;
  padding: 16px 29px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  z-index: 2;
}