.button{
  display: flex;
  background: #5B4DFF;
  border-radius: 44px;
  color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 56px;
  gap: 10px;
  min-width: 166px;
  cursor: pointer;
  pointer-events: auto;
  line-height: 140%;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  height: 54px;
}

.button_secondary{
  background: none;
  border: 2px solid #5B4DFF;
  color: #5B4DFF;
}

.button_disabled{
  background: rgba(91, 77, 255, 0.6);
  pointer-events: none;
}

.button:hover{
  box-shadow: 0 4px 22px rgba(91, 77, 255, 0.2);
}

.button:active{
  box-shadow: inset 0 4px 22px rgba(5, 0, 61, 0.2);
}
