
h1 {
    font-family: "Chillax", sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-block-start: 0;
    margin-block-end: 0;
  }

  h1 span{
    color:#FF6363;
  }

h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 140%;
    margin-block-start: 0;
    margin-block-end: 0;
  }

h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 140%;
    margin-block-start: 0;
    margin-block-end: 0;
  }
