
h1 {
    font-family: "Chillax", sans-serif;
    font-size: 3.472vw;
    font-weight: 600;
  }

  h1 span{
    color:#FF6363;
  }

h2 {
    font-weight: 900;
    font-size: 2.083vw;
    line-height: 140%;
  }

h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 140%
  }

  @media screen and (max-width: 1024px) {
    h1 {
      font-size: 50px;
      line-height: 50px;
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 25px;
    }
  }