.field {
  display: inline-flex;
  width: 416px;
  height: fit-content;
  font-size: 16px;
  background: #E9EEF8;
  border-radius: 14px;
  padding: 24px;
  border: none;
}

textarea:focus, input:focus{
  border: #576783 4px solid;
  outline: none;
}

.field_big{
  min-height: 134px;
  resize: none;
}

.field-wrapper{
  display: flex;
  position: relative;
}

.field_red{
  border: salmon 4px solid;
}

