.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  padding: 33px 50px 0;
  margin: 0 auto;
}

.header__user-info{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 16px;
  cursor: pointer;
}
