.footer{
  height: 136px;
  background: #232323;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .footer{
    padding: 55px;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
  }
 }

.logo-white{
  flex: 0 0 25%;
  display: flex;
  justify-content: flex-start;
}

.footer_text{
  display: flex;
  justify-content: center;
  flex: 0 0 50%;
  justify-self: center;
}


.social-icons{
  flex: 0 0 25%;
}
