.social-icons{
  max-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 43px;
}

.social-icons>a{
  cursor: pointer;
}

.social-icons__icon{
  max-height: 30px;
  max-width: 35px;
}
