.popup{
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

.popup_show{
  opacity: 1;
  pointer-events: auto;
}

.popup_hide{
  opacity: 0;
  pointer-events: none;
}

.bgBlur{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: rgba(5, 0, 34, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
