.popup{
  position: relative;
  width: 100%;
  height: 100%;
}

.bgBlur{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: rgba(5, 0, 34, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
