.popup{
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: 3;
}

.popup_show{
  opacity: 1;
  pointer-events: auto;
}

.popup_hide{
  opacity: 0;
  pointer-events: none;
}

.bgBlur{
  position: fixed;
  width: 100%;
  min-height: 100%;
  background: rgba(5, 0, 34, 0.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
