.ring {
  display: inline-block;
  position: relative;
  width: 19px;
  height: 19px;
}
.ring div {
  box-sizing: border-box;
  box-shadow: none;
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.ring div:nth-child(1) {
  animation-delay: -0.30s;
}
.ring div:nth-child(2) {
  animation-delay: -0.20s;
}
.ring div:nth-child(3) {
  animation-delay: -0.10s;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ring-big{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.ring-big div{
  border: 10px solid #5B4DFF;
  width: 100px;
  height: 100px;
  border-color: #5B4DFF transparent transparent transparent;
}