body{
  box-sizing: border-box;
}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page-block{
  padding: 0 50px 85px;
  margin: 0 auto;
}

.home-heading{
  padding-top: 44px;
  padding-bottom: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-heading .button{
  margin-top: 50px;
}

.best-creators{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1333px;
  margin: auto;
}

.best-creators__text{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.best-creators__users{
  display: flex;
  flex-direction: row;
  gap: 38px;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.user{
  margin-top: 100px;
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.user-videos{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.user-videos__header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.videos-text{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.videos-text img{
  width: 20px;
  height: 20px;
}

.videos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 28px;
  justify-content: space-between;
}
