.user-card{
  box-sizing: border-box;
  display: flex;
  padding: 35px 35px;
  flex-direction: column;
  align-items: center;
  background: #E6E8FF;
  border-radius: 14px;
  flex-basis: 22%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
 }

 @media screen and (max-width: 1279px) {
  .user-card {
    flex-basis: 31%;
  }
 }

 @media screen and (max-width: 1023px) {
  .user-card {
    flex-basis: 47%;
  }
 }

 @media screen and (max-width: 624px) {
  .user-card {
    flex-basis: 99%;
  }
 }

 @media screen and (min-width: 1900px) {
  .user-card {
    flex-basis: 17%;
  }
 }

.user-card .user-card__stats{
  padding-bottom: 33px;
}

.user-card__stats{
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
  width: 220px;
}



.like-video-count{
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  flex-grow: 1;
  font-size: 16px;
}

.like-video-count img{
  width: 24px;
  height: 24px;
}

.user-card__stats>*:first-child{
  justify-content: flex-start;
}