.video-component{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.thumbnail-wrapper{
  border-radius: 14px;
  display: flex;
  height: 174px;
  width: 314px;
  overflow: hidden;
  }

.thumbnail-wrapper img{
  height: 100%;
  width: 100%;
}

.react-player{
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}





